#tempo {
    margin: 1em 2em 1em 2em;
    width: 80%;
}

#bars {
    margin: 1em 2em 1em 2em;
    width: 80%;
}

#bars_progress {
    width: 10em;
    padding-right: 2px;
}

#bars_progress .ui-widget-header {
    background-color: #007BFF;
    margin: 0 -2px 0 0;
}

#bars_progress .ui-progressbar {
    background-color: #FF0000;
}

#chord_name {
    font-size: 12em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

#next_chord_name {
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

#visual_metronome {
    font-size: 5em;
}

#visual_metronome span {
    margin-top: .2em;
}

.ui-state-active {
    background-color: #999999;
}

#tempo .ui-slider-handle, #bars .ui-slider-handle {
    margin-left: -2em;
    width: 4em;
}

#current_chord_diagram {
    margin-top: -1em;
    margin-bottom: 1em;
}

#next_chord_diagram {
    margin-top: -0.5em;
    margin-bottom: 1em;
}

#current_chord_diagram canvas,
#next_chord_diagram canvas {
    display: inline-block;
}

.chord-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

/* Add these styles for the chord diagrams */
.chord-diagram {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.chord-diagram.next {
    width: 100px;
}

/* Style for the fret position number */
.chord-diagram text[text-anchor="start"] {
    font-weight: bold;
}

.chord-diagram canvas {
    display: block;
    margin: 0 auto;
}
