#tempo {
    margin: 1em 2em 1em 2em;
    width: 80%;
}

#bars {
    margin: 1em 2em 1em 2em;
    width: 80%;
}

#bars_progress {
    width: 10em;
    padding-right: 2px;
}

#bars_progress .ui-widget-header {
    background-color: #007BFF;
    margin: 0 -2px 0 0;
}

#bars_progress .ui-progressbar {
    background-color: #FF0000;
}

#chord_name {
    font-size: 10em;
    margin: 0;
    text-align: center;
    line-height: 1.2;
}

#next_chord_name {
    font-size: 3em;
    margin: 0;
    text-align: center;
    line-height: 1.2;
}

#visual_metronome {
    font-size: 5em;
}

#visual_metronome span {
    margin-top: .2em;
}

.ui-state-active {
    background-color: #999999;
}

#tempo .ui-slider-handle, #bars .ui-slider-handle {
    margin-left: -2em;
    width: 4em;
}

#chord_diagram {
    width: 200px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
}

#next_chord_diagram {
    width: 100px;
    height: 120px;
    margin: 0 auto;
    margin-top: 0.5em;
    position: relative;
}
